@import url
 ('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Permanent+Marker&family=Roboto:wght@100&display=swap');

 *{
 	font-family: 'Open Sans', sans-serif;
 }

 h2 {
 	font-family: 'Roboto', sans-serif;
 	color: #007BFF;
 }

 h1 {
 	font-family: 'Permanent Marker', cursive;
 	font-size: 70px;
 }

 img {
 	width: 250px;
 	border-radius: 50%;
 }

 ul {
 	list-style: none;
 	padding: 0;

 }

 #landing,
 #gallery {
 	height: 65vh;
 	display: flex;
 	flex-direction: column;
 	justify-content: center;
 	align-items: center;
 }


 .tools {
 	padding: 25px;
 	height: 200px;
 	border: 5px solid #f2f2f2;
 	margin: 20px;
 	width: 75%;
 	color: white;

 }

 .nav-link{
 	text-transform: uppercase;
 }

 html{
 	scroll-behavior: smooth;
 }